.about {
    padding: 50px 0 0 0;
    margin-bottom: 50px;
}

.about__heading {
    margin-bottom: 60px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}

.about__blockquote-wrapper {
    margin-bottom: 39px;
}

.about__blockquote__paragraph {
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    color: var(--white);
}

.about__blockquote__paragraph-sub {
    margin: 0;
}

.about__blockquote__text-item {
    margin-left: 35px;
}

.about__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--white);
}

.about__paragraph:last-child {
    margin-bottom: 0;
}

.about__blockquote__quote {
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    color: var(--medium-violet);
}

.about__img {
    float: left;
    max-width: 600px;
    margin-right: 80px;
}

.about__blockquote__author  {
    font-size: 20px;
    line-height: 28px;
}

.about__blockquote__author__img {
    float: left;
    margin-right: 30px;
    border-radius: 50%
}

.about__blockquote {
    padding-top: 48px;
    padding-bottom: 50px;
    margin-top: 0;
}

.about__blockquote__author__title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: none;
}