.faq {
    padding: 50px 0;
}

.faq__heading {
    padding-bottom: 40px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}

.faq__list_item {
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    list-style-type: none;
    position: relative;
}

.faq__list_item:last-child {
    margin-bottom: 0;
}

.faq__list_item:nth-child(even) {
    background-color: #440F51;
    color: #fff;
}

.faq__list_item:after {
    content: "";
    display: inline-block;
    width: 46px;
    height: 46px;
    background-image: url("../assets/svg/faq-open-purple.svg");
    background-size: contain;
    position: absolute;
    right: 90px;
    top: 19px;
    cursor: pointer;
}

.faq__list_item:nth-child(even):after {
    content: "";
    display: inline-block;
    width: 46px;
    height: 46px;
    background-image: url("../assets/svg/faq-open.svg");
    background-size: contain;
    position: absolute;
    right: 90px;
    top: 19px;
    cursor: pointer;
}

.faq__list_item:hover:after {
    background-image: url("../assets/svg/faq-open-purple-hover.svg");
}

.faq__list_item:active:after {
    background-image: url("../assets/svg/faq-open-purple-active.svg");
}

.faq__list_item:nth-child(even):hover:after {
    background-image: url("../assets/svg/faq-open-hover.svg");
}

.faq__list_item:nth-child(even):active:after {
    background-image: url("../assets/svg/faq-open-active.svg");
}
