.header {
    padding: 38px 0 0 0;
    margin-bottom: 28px;
}

.header__link{
    width: 120px;
    height: 66px;
    background: url("../assets/svg/logo.svg");
}

.header__link:hover {
    background-image: url("../assets/svg/logo-hover.svg");
    transition: background-image 0.5s ease-in-out;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__nav_list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header__nav_list_item {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    text-transform: uppercase;
    color: var(--white);
}

.header__nav_list_item:hover {
    color: var(--bright-violet);
    transition: color 0.5s ease-in-out;
}

.header__nav_list_item:active {
    color: var(--medium-violet);
    transition: color 0.5s ease-in-out;
}


.header__button {
    border: 3px solid var(--bright-violet);
    border-radius: 10px;
    background-color: transparent;
    width: 280px;
    height: 55px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--white);
}

.header__button:hover {
    background-color: var(--medium-violet);
    border: 3px solid var(--medium-violet);
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}

.header__button:focus {
    background-color: var(--medium-violet);
    border: 3px solid var(--medium-violet);
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}

.header__button:active {
    background-color: var(--light-violet);
    border: 3px solid var(--light-violet);
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}