.header {
    padding: 38px 0 28px 0;
}

.header__img {
    width: 120px;
    height: 66px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__nav_list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header__nav_list_item {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__button {
    border: 3px solid #CD06FF;
    border-radius: 10px;
    background-color: transparent;
    width: 280px;
    height: 55px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__button:hover {
    background-color: #6C0287;
    border: 3px solid #6C0287;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}

.header__button:focus {
    background-color: #6C0287;
    border: 3px solid #6C0287;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}

.header__button:active {
    background-color: #640aa3;
    border: 3px solid #640aa3;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}