.hero {
    margin-bottom: 50px;
    padding: 28px 0 0 0;
}

.hero__content {
    width: 1180px;
    min-height: 823px;
    position: relative;
}

.hero__content:before {
    content: url('../assets/img/hero.png');
    position: absolute;
    height: 762px;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero__title {
    font-weight: 900;
    font-size: 150px;
    line-height: 100%;
    font-family: "Arial Black", sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    height: 100%;
}

.hero__par {
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    color: var(--white);
    padding-left: 100px;
}

.hero__content-sub {
    display: flex;
    gap: 40px;
    align-items: baseline;
    position: absolute;
    top: 500px;
}

.hero__content-sub_first_par,
.hero__content-sub_second_par {
    font-weight: 900;
    line-height: 141px;
    color: var(--bright-violet);
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
    font-size: 75px;
}

.hero__content-sub_second_par {
    font-variant: all-small-caps;
}

.hero__content-sub_first, 
.hero__content-sub_second {
    width: 166px;
    height: 174px;
}

.hero__content-sub_par_description {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 150px;   
}

.hero__button {
    width: 374px;
    height: 80px;
    background: var(--medium-violet);
    border-radius: 10px;
    flex: 1;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--white);
    border: none;
}

.hero__button:hover {
    background-color: var(--violet);
    transition: background-color 0.5s ease-in-out;
}

.hero__button:focus {
    background-color: var(--violet);
    transition: background-color 0.5s ease-in-out;
}

.hero__button:active {
    background-color: var(--light-violet);
    transition: background-color 0.5s ease-in-out;
}

.hero__down-btn {
    position: relative;
    top: 350px;
    left: 160px;
    z-index: 1;
    background-color: transparent;
    border: none;
}

.hero__svg {
    fill: transparent;
    transition: all 0.5s linear;
}

.hero__svg:hover {
    fill: var(--white);;
    transition: all 0.5s linear;
}

.hero__svg:hover rect {
    fill-opacity: 1;
    fill: var(--medium-violet);
    stroke-opacity: 0;
}

.hero__svg:active {
    fill: var(--bright-violet);
    transition: all 0.5s linear;
}

.hero__svg:active rect {
    fill: var(--white);;
    stroke-opacity: 0;
}

.hero__down-btn:focus {
    background: transparent;
    color: var(--medium-violet)
}