* {
    box-sizing: border-box;
}

body {
    background-color: #1b1a1b;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

blockquote {
    text-transform: uppercase;
}

.wrapper {
    width: 1200px;
    padding: 30px;
    margin: 0 auto;
}